
html {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body {    
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    text-align: center;
}

form {
    font-size: 30px;
    margin: 50px;
    display: flex;
    flex-direction: column;
}

input, button {
    height: 50px;
    margin-bottom: 30px;
}

button {
    background-color: cornflowerblue;
    border: 2px black solid;
    font-weight: bolder;
    font-size: 32px;
    border-radius: 10px;
}

button:hover {
    zoom: 1.4;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

.entrada-erro {
    border: 3px red solid;
    background-color: #fdd;
    border-radius: 5px;
}


