
html {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body {
    font-size: 26px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.externo {
    display: flex;    
    justify-content: space-between;
    align-items: center;
    margin: 20px;
   
}

.cartao {
    height: 250px;
    width:20%;   
    justify-content: center;
    align-items: center;        
    background-color: cornflowerblue;
    border-radius: 10px;
    display: inline-flex;
    border: 2px black solid;
}

#ultimoCartao {
    display: block;    
    text-align: center;
    align-items: center;
    line-height: 50px;
}

h3 {
    display: block;
}

ul, li {
    list-style-type: none;
    padding: 10px;
}

h1 {
    margin: auto;
    align-items: center;
    text-align: center;
}

.borda-verde {
    border: 5px green solid;
}

.borda-vermelha {
    border: 5px red solid;
}

.borda-violeta {
    border: 5px violet solid;
}